*.ncb
*.opt
*.plg
*.suo
*.vcproj.*.*.user
*.bsc
*.dgb
*.pyc
*.sdf
*.xml
*.iml
.idea/*
proxy/cfg/*.json
tools/PSO2KeyTools/Dumper
tools/PSO2KeyTools/Debug
tools/PSO2KeyTools/Release
tools/PSO2KeyTools/PSO2KeyInjector/Dumper
tools/PSO2KeyTools/PSO2KeyInjector/Debug
tools/PSO2KeyTools/PSO2KeyInjector/Release
log/
proxy/keys/*.blob
proxy/keys/*.pem
